.App {
  background-color: pink;
  border: 4px solid black;
  box-sizing: border-box;
  padding: 50px;
  width: 100%;
}

#login {
  border: 2px solid darkgray;
  margin: 100px 0 200px ;
  padding-bottom: 20px;
}

h3, .form-group {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  align-items: flex-start;
  background-color: gray;
  border: 2px solid darkgray;
  border-width: .5rem;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
}

.navbar>a {
  color: white;
  margin: 1rem;
  text-decoration: none;
}

.navbar>a:hover, .nav-link:hover {
  color: lightsalmon;
}

.navbar-brand {
  font-size: large;
}

.nav-link {
  color: lightgrey;
}